:root{
    --accent-color: #E43071;
    --accent-text: #FFC1D8;
    --main-color: #FFFFFF;
    --text-color: #424242;
    --avtor2-color: #969BAB;
}
body{
    background-color: bisque;
    font-family: Poppins;
}
/* section header */
.header-logo{
    color: var(--main-color);
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        line-height: 1.09;
        /* 43.8px */
}
.header-color{
    color: var(--accent-text);
}
.header-link{
    color: var(--main-color);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.09;
        /* 17.52px */
       
}
.header-btn{
    background-color: var(--main-color);
color: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.09;
    /* 17.52px */
}

/* section hero */
.hero-title{
    color: var(--main-color);
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
     /* 77px */
}

.hero-span{
    color: var(--accent-text);
}

.hero-btn{
    color: var(--main-color);
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 2.31;
    background-color: var(--accent-color);
}

/* section meet */

.meet-title{
    color: var(--accent-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
}

.meet-text{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 2.31; /* 231.25% */
}

.meet-btn{
    color: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.31; /* 231.25% */
    background-color: var(--main-color);
    border-radius: 38.5px;
    border: 2px solid var(--accent-color);
}

/* section become */
.become-title{
    color: var(--main-color);
    text-align: center;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;  
}

.become-text{
    color: var(--main-color);
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
}

.become-btn{
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.31;
    /* 231.25% */
    background-color: var(--accent-color);
}