a {
  text-decoration: none;
}

button {
  border: none;
  cursor: alias;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  display: block;
}

body {
  /* background-color:  */
  font-family: Poppins;
  scroll-behavior: smooth;
}

.container {
  width: 1176px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 23px;
  padding-right: 23px;
}

.header {
  background-color: #e43071;
  padding-top: 25px;
  padding-bottom: 26px;
}
.header__box {
  display: flex;
  align-items: center;
  width: 1407px;
}
.header__logo {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.09;
  margin-right: 172px;
  /* 43.8px */
}
.header__color {
  color: #ffc1d8;
}
.header__list {
  display: flex;
  gap: 76px;
}
.header__link {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.09;
  transition-property: color;
  transition-duration: 2000ms;
  /* 17.52px */
}
.header__link:hover {
  color: gold;
}
.header__item:not(:last-child) {
  position: relative;
}
.header__item:not(:last-child) .header__link:after {
  transition-property: opacity;
  transition-duration: 2000ms;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: gold;
  position: absolute;
  bottom: -40px;
  opacity: 0;
}
.header__item:not(:last-child) .header__link:hover:after {
  opacity: 1;
}
.header__btn {
  background-color: #ffffff;
  color: #e43071;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.09;
  padding: 16px 61px;
  border-radius: 200px;
  margin-left: auto;
  transition-property: background-color, color, outline;
  transition-duration: 2000ms;
  /* 17.52px */
}
.header__btn:hover {
  background-color: transparent;
  color: gold;
  outline: 1px solid gold;
}
.header__links {
  display: flex;
  gap: 6px;
}
.header__icon {
  width: 20.121px;
  height: 19.285px;
  fill: #ffffff;
}

.hero {
  background-color: rgb(84, 63, 37);
  padding-top: 241px;
  padding-bottom: 202px;
  text-align: center;
  background-image: linear-gradient(rgba(45, 40, 36, 0.2), rgba(45, 40, 36, 0.2)), url(../img/femail.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__title {
  color: #ffffff;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 21px;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://64.media.tumblr.com/a7d100aabe2033b2fff1b7d5bf6af05f/tumblr_nlprx4nuGI1relaado1_400.gifv);
  animation-name: herotitlemove;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* 77px */
}
.hero__span {
  color: #ffc1d8;
}
.hero__btn {
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  background-color: #e43071;
  border-radius: 38.5px;
  padding: 14px 56px 17px 56px;
  animation-name: herobtnchange;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes herotitlemove {
  0% {
    transform-origin: bottom left;
    transform: translateX(-30px) rotate(1deg);
  }
  100% {
    transform-origin: bottom right;
    transform: translateX(30px) rotate(-1deg);
  }
}
@keyframes herobtnchange {
  0% {
    transform: scale(0.9);
    border-radius: 38.5px;
  }
  50% {
    transform: scale(1);
    border-radius: 10px;
  }
  100% {
    transform: scale(1.1);
    border-radius: 50px;
  }
}
.meet {
  background-color: #ffffff;
  padding-top: 95px;
  padding-bottom: 226px;
}

.meet-box {
  display: flex;
  align-items: center;
}

.meet-list {
  display: flex;
}

.meet-item:last-child {
  transform: translate(-150px, 150px);
}

.meet-title {
  color: #e43071;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.meet-text {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.31;
  margin-bottom: 30px;
  /* 231.25% */
}

.meet-btn {
  color: #e43071;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  /* 231.25% */
  background-color: #ffffff;
  border-radius: 38.5px;
  border: 2px solid #e43071;
  padding: 15px 65px 16px 65px;
}

.meet-img2 {
  width: 241px;
  height: 359px;
}

.become {
  background-image: linear-gradient(rgba(57, 57, 57, 0.22), rgba(57, 57, 57, 0.22)), url(../img/sport-femail.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 231px;
  padding-bottom: 247px;
  text-align: center;
}

.become-title {
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

.become-text {
  width: 450px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.become-btn {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  /* 231.25% */
  background-color: #e43071;
  padding: 15px 77px 16px 78px;
  border-radius: 38.5px;
}

.premium {
  padding-top: 224px;
  padding-bottom: 129px;
}

.premium-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.premium-title {
  color: #e43071;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}

.premium-text {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.31;
  width: 489px;
  margin-bottom: 4px;
  /* 231.25% */
}

.premium-btn {
  background: rgba(0, 0, 0, 0);
  border-radius: 38.5px;
  border: 2px solid #e43071;
  color: #e43071;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  /* 231.25% */
  padding: 15px 72px;
}

.premium-item:first-child {
  transform: translate(-150px, 140px);
}

.story {
  background-image: linear-gradient(180deg, #ffffff, #f4e3e9);
  padding-top: 126px;
  padding-bottom: 149px;
}

.story-title {
  width: 414px;
  color: #424242;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.19;
  margin-bottom: 12px;
  /* 57.216px */
}

.story-text {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 27px;
}

.story-subtitle {
  color: #e43071;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.19;
  margin-bottom: 30px;
  /* 45.296px */
}

.story-desk {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.77;
  width: 253px;
  margin-bottom: 20px;
  /* 177.778% */
}

.story-name {
  color: #424242;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  /* 188.889% */
}

.story-mather {
  color: #969bab;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.42;
  /* 242.857% */
}

.story-list {
  display: flex;
  gap: 33px;
}

.story-item {
  padding: 35px 32px 38px 27px;
  background-color: #ffffff;
  /* width: 349px;
    height: 445px; */
  border-radius: 10px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
  transform: translateX(130px);
}

.story-wrap {
  display: flex;
  gap: 17px;
}

.story-item:nth-child(2) {
  /* width: 335px; */
  height: 360px;
  padding: 46px 32px 45px 34px;
  transform: translate(130px, -150px);
}
.story-item:nth-child(2) .story-desk {
  width: 353px;
}

.story-item:nth-child(3) {
  flex-basis: 500px;
  height: 278px;
  transform: translate(-315px, 250px);
}

.app {
  padding-top: 112px;
  padding-bottom: 76px;
  background-color: #e43071;
}

.app-title {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

.app-text {
  width: 489px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.31;
  /* 231.25% */
}

.app-description {
  color: #969bab;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.app-icon {
  width: 135px;
  height: 40px;
}

.app-list {
  display: flex;
  gap: 12px;
  margin-top: 9px;
}

.app-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.app-lists {
  display: flex;
}

.app-items:first-child {
  transform: translateY(-155px);
}

.app-items:nth-child(2) {
  transform: translateY(202px);
}

.social {
  background-color: #ededed;
  padding: 60px 0 71px 0;
}

.social-title {
  color: #e43071;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}

.social-icon {
  width: 24.831px;
  height: 29.916px;
  fill: #e43071;
}

.social-link {
  width: 110px;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.social-item:nth-child(2) {
  margin-left: 93px;
  margin-right: 87px;
}

.footer {
  background-color: #0b0d17;
  padding: 96px 0 24px 0;
}

.footer-subtitle2 {
  color: #d9dbe1;
  font-feature-settings: "liga" off;
  /* Body / Body 2 */
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
}

.footer-subtitle {
  width: 255px;
  color: #d9dbe1;
  font-feature-settings: "liga" off;
  /* Body / Body 2 */
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.09;
  margin-right: 172px;
  /* 43.8px */
}

.footer-color {
  color: #e43071;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-link {
  color: #d9dbe1;
  font-feature-settings: "liga" off;
  /* Body / Body 2 */
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
}

.footer-title {
  color: #ffffff;
  font-feature-settings: "liga" off;
  /* Heading / H6 */
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  margin-bottom: 12px;
}

.footer-contact {
  fill: #e43071;
}

.footer-contact1 {
  width: 20px;
  height: 18px;
}

.footer-contact2 {
  width: 20px;
  height: 20px;
}

.footer-contact3 {
  width: 17px;
  height: 20px;
}

.footer-box {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-bottom: 103px;
}

.footer-lists {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

.footer-item:first-child {
  width: 120px;
}

.footer-list1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
  margin-left: 40px;
  margin-right: 131px;
}

.footer-list2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
  margin-right: 150px;
}

.footer-list3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
}

.footer-link2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-link3 {
  width: 200px;
}

.backdrop {
  background: rgba(200, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .model {
  /* transform: translate(0) rotate(720deg) scale(0); */
  transform: translate(-50%, -1000px) scale(-2) skew(30deg, 30deg);
}

.model {
  background-color: #ffffff;
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition-property: transform;
  transition-duration: 2000ms;
}

.model-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: 1px solid gray;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.model-icon {
  width: 18px;
  height: 18px;
  fill: #000;
}

.model-close:is(:hover, :focus) .model-icon {
  fill: #e43071;
}

.model-title {
  color: #ffc1d8;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.model-label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.model-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  border: none;
  padding-left: 42px;
}

.model-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  display: block;
  resize: none;
  border: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.model-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #424242;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.model-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
  margin-left: 5px;
}

.model-check {
  margin-right: 9px;
}

.model-sent {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  padding: 10px 52px;
  background-color: #e43071;
}

.model-frap {
  display: flex;
  justify-content: center;
}

.model-ikon {
  width: 12px;
  height: 12px;
  fill: #424242;
  position: absolute;
  top: 35px;
  left: 15px;
}

.model-input:hover, .model-input:focus {
  outline: 1px solid #e43071;
}

.model-input:hover + .model-ikon,
.model-input:focus + .model-ikon {
  fill: #e43071;
}

.scroll {
  border-radius: 50%;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 50px;
  right: 50px;
  background-color: #e43071;
  width: 40px;
  height: 40px;
}

.scroll-icon {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */