 
  $accent-color: #e43071;
  $accent-text: #ffc1d8;
  $main-color: #ffffff;
  $text-color: #424242;
  $avtor2-color: #969bab;
  $become-bg: rgba(57, 57, 57, 0.22);
  $gradient-color: #f4e3e9;
  $gradient-color2: rgba(45, 40, 36, 0.2);
  $bg-social: #ededed;
  $bg-footer: #0b0d17;
  $footer-text: #d9dbe1;
