.app {
  padding-top: 112px;
  padding-bottom: 76px;
  background-color: $accent-color;
}

.app-title {
  color: $main-color;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
.app-text {
  width: 489px;
  color: $main-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.31;
  /* 231.25% */
}
.app-description {
  color: $avtor2-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.app-icon {
  width: 135px;
  height: 40px;
}
.app-list {
  display: flex;
  gap: 12px;
  margin-top: 9px;
}
.app-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.app-lists {
  display: flex;
}

.app-items:first-child{
  transform: translateY(-155px) ;
}

.app-items:nth-child(2){
 transform: translateY(202px);
}