.social {
  background-color: $bg-social;
  padding: 60px 0 71px 0;
}
.social-title {
  color: $accent-color;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
.social-icon {
  width: 24.831px;
  height: 29.916px;
  fill: $accent-color;
}
.social-link {
  width: 110px;
  background-color: $main-color;
  border-radius: 100px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.social-item:nth-child(2) {
  margin-left: 93px;
  margin-right: 87px;
}